# Excel temp files
~$*

testing/

# Usually, env would be hidden but since this project doesn't
# require any sensitive information, I commented it out
# *.env

__pycache__/


export_all_notebooks.ipynb